{% extends 'layout.html' %}

{% block content %}
<h1>Add new sensor</h1>


<form class="ui form" method="post" action="{{ url_for('sensors.save_new') }}">
    <div class="inline fields">
        <label for="location">Select a location:</label>
        {% for location in locations %}
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="location" value="{{location}}" class="hidden">
                <label>{{location}}</label>
            </div>
        </div>
        {% endfor %}
    </div>
   <div class="inline fields">
        <label for="type">Select a type:</label>
        {% for type in sensor_types %}
        <div class="field">
            <div class="ui radio checkbox">
                <input type="radio" name="type" tabindex="0" value="{{type}}" class="hidden">
                <label>{{type}}</label>
            </div>
        </div>
        {% endfor %}
    </div>
   <div class="ui input">
      <input name="name" type="text" placeholder="Sensor name...">
   </div>
   <div class="ui input">
      <input name="code" type="text" placeholder="Sensor code... eg: DHT22">
   </div>
   <div class="ui input">
      <input name="sampling-rate" type="text" placeholder="Sampling rate mins...">
   </div>

   <button class="ui primary button" type="submit">
      Save
   </button>
   <button class="ui button">
      Discard
   </button>
</form>
<script src="{{ url_for('static', filename='js/sensorsNew.js') }}"></script>

{% endblock %}