{% extends 'layout.html' %}
{% block content %}
    <div class="ui one column grid">
        <div class="column center aligned">
            {% include "view_button_bar.html" %}
        </div>
    </div>

    <div class="ui five column stackable padded grid">
        {% for d in sensors %}
            {% with %}
                {% set loop_index=loop.index %}
                <div class="column">
                    {% include "sensor_shape_card.html" %}
                </div>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}