{% extends 'layout.html' %}
{% block content %}
    <div class="ui one column padded grid">
        <div class="column center aligned">
            {% include "view_button_bar.html" %}
        </div>
    </div>

    <div class="five column doubling stackable padded ui grid">
        {% for d in sensors %}
            {% with %}
                {% set loop_index=loop.index %}
                <div class="column">
                    {% include "sensor_shape_card.html" %}
                </div>
            {% endwith %}
        {% else %}
        <p><em>No</em> sensors could be found, click on the "ADD" button add one</p>
        {% endfor %}

    </div>
{% endblock %}