{% extends 'layout.html' %}
{% block content %}
<div class="ui one column padded grid">
    <div class="column center aligned">
        {% include "view_button_bar.html" %}
    </div>
</div>
<h1>{{ room.title() }}</h1>
{% for thing in things %}
<h1 class="ui block header">{{ thing.title }}</h1>
<div class="five column doubling stackable padded ui grid">

    {% for d in thing.data %}
    {% with %}
    {% set loop_index=loop.index %}
    <div class="column">
        {% if thing.title == 'Sensors' %}
        {% include "sensor_shape_card.html" %}
        {% endif %}
        {% if thing.title == 'Devices' %}
        {% include "light_card.html" %}
        {% endif %}
    </div>
    {% endwith %}

    {% endfor %}
</div>
{% else %}
<p><em>Things</em> could be found in this room</p>

{% endfor %}
<script>var BASE_URL = '{{api_base_url}}';</script>
<script src="{{ url_for('static', filename='js/light-control-handler.js') }}"></script>
{% endblock %}