{% extends 'layout.html' %}
{% block content %}
<div class="ui one column padded grid">
    <div class="column center aligned">
        {% include "view_button_bar.html" %}
    </div>
</div>

<div class="four column doubling stackable padded ui grid">
    {% for g in groups %}
    {% with %}
    {% set loop_index=loop.index %}
    <div class="column">
        {% include "group_card.html" %}
    </div>
    {% endwith %}
    {% else %}
    <p><em>No groups </em> could be found, click on the "ADD" button add one</p>
    {% endfor %}
</div>
<script>var BASE_URL = '{{api_base_url}}';</script>
<script src="{{ url_for('static', filename='js/light-control-handler.js') }}"></script>

{% endblock %}