{% extends 'layout.html' %}
{% block content %}
<div class="ui one column grid">
    <div class="column center aligned">
        {% include "view_button_bar.html" %}
    </div>
</div>
<div class="dimmable">

<table class="ui celled selectable table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Location</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    {% for d in lights %}


    <tr onclick="switchHandler(['{{ d.device_id }}'], '{{ d.status }}', '{{ loop.index }}')">

            <div id="dimmer-{{ loop.index }}" class="ui dimmer">
                <div class="ui loader">
                </div>
            </div>
            <td data-label="Type"><i class="lightbulb outline icon"></i></td>
            <td data-label="Name">{{ d.name }}</td>
            <td data-label="Location">{{ d.location }}</td>
            <td data-label="Status">
                <div class="center aligned image">
                    <i id="light-status-{{ loop.index }}"
                       class="large {% if d.status == 'ON' %}yellow{% endif %} lightbulb outline icon"></i>
                </div>
            </td>

    </tr>


    {% endfor %}
    </tbody>

</table>
</div>

<script>var BASE_URL = '{{api_base_url}}';</script>
<script src="{{ url_for('static', filename='js/light-control-handler.js') }}"></script>

{% endblock %}