{% extends 'layout.html' %}
{% block content %}
<div class="ui one column padded grid">
    <div class="column center aligned">
        {% include "view_button_bar.html" %}
    </div>
</div>

<div class="five column doubling stackable padded ui grid">
    {% for d in lights %}
    {% with %}
    {% set loop_index=loop.index %}
    <div class="column">
        {% include "light_card.html" %}
    </div>
    {% endwith %}

    {% endfor %}
</div>
<script>var BASE_URL = '{{api_base_url}}';</script>
<script src="{{ url_for('static', filename='js/light-control-handler.js') }}"></script>

{% endblock %}