{% macro clickableButton(href='#', active='', btnText='', iconType='') %}
    <a class="ui button {{ active }}" href="{{ href }}">
        <i class="{{ iconType }}"></i>
        {{ btnText }}
    </a>
{% endmacro %}

<div class="ui buttons">
    {{ clickableButton(href=url_for('sensors.show_sensor', sensor_id=sensor.sensor_id, timerange='today'), active='active' if selected == 'today' else '', btnText='TODAY') }}
    {{ clickableButton(href=url_for('sensors.show_sensor', sensor_id=sensor.sensor_id, timerange='week'), active='active' if selected == 'week' else '', btnText='WEEK') }}
    {{ clickableButton(href=url_for('sensors.show_sensor', sensor_id=sensor.sensor_id, timerange='month'), active='active' if selected == 'month' else '', btnText='MONTH') }}
    {{ clickableButton(href=url_for('sensors.show_sensor', sensor_id=sensor.sensor_id, timerange='year'), active='active' if selected == 'year' else '', btnText='YEAR') }}
    {{ clickableButton(href=url_for('sensors.show_sensor', sensor_id=sensor.sensor_id, timerange='all'), active='active' if selected == 'all' else '', btnText='ALL') }}
</div>