<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.css') }}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='node_modules/semantic-ui/dist/semantic.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/image-map-resizer/js/imageMapResizer.min.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="ui top attached menu">
    {% include "statusbar.html" %}
</div>
<div class="ui bottom attached segment pushable">
    {% include "sidenav.html" %}
    <div class="pusher">
        {% block content %} {% endblock %}
    </div>
</div>

</body>

<script>
    const sidebar_elem = $('#sidebar');
    const pusher = $('.pusher');
    pusher.width(((pusher.width() - 150) / pusher.width()) * 100 + '%');

    sidebar_elem.sidebar({
        context: $('.ui.bottom.attached.segment'),
        dimPage: false,
        closable: false
    });
    function toggle_sidebar() {
        if (sidebar_elem.sidebar('is visible')) {
            sidebar_elem.sidebar('hide');
            pusher.animate({width: '100%'}, 500)

        } else {
            sidebar_elem.sidebar('show');
            pusher.animate({width: ((pusher.width() - 150) / pusher.width()) * 100 + '%'}, 500)
        }
    }

</script>
</html>