<div id="sidebar" class="ui sidebar thin left vertical visible">
    <div class="ui fluid vertical labeled icon menu">
        <a class="item {% if active == 'home' %}active {% endif %}" href="{{ url_for('home.show_home') }}">
            <i class="{% if active == 'home' %}teal{% endif %} home icon"></i>
            HOME</a>
        <a class="item {% if active == 'sensors' %}active {% endif %}" href="{{ url_for('sensors.show_sensors') }}">
            <i class="{% if active == 'sensors' %}teal{% endif %} thermometer icon"></i>
            SENSORS
        </a>
        <a class="item {% if active == 'lights' %}active {% endif %}" href="{{ url_for('lights.show_lights') }}">
            <i class="{% if active == 'lights' %}teal{% endif %} lightbulb outline icon"></i>
            LIGHTS
        </a>
        <a class="item">
            <i class="cloud icon"></i>
            WEATHER
        </a>
        <a class="item {% if active == 'tube_status' %}active {% endif %}" href="{{ url_for('tube_status.show_tube_status') }}"">
            <i class="{% if active == 'tube_status' %}teal{% endif %} train icon"></i>
            TUBE STATUS
        </a>
        <a class="item">
            <i class="microchip icon"></i>
            SYSTEM INFO
        </a>
    </div>
</div>

