<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensor info</title>
</head>
<style type="text/css">
    /* 13. Basic Styling with CSS */

    /* Style the lines by removing the fill and applying a stroke */
    .line {
        fill: none;
        stroke: #ffab00;
        stroke-width: 3;
    }

    .overlay {
        fill: none;
        pointer-events: all;
    }

    /* Style the dots by assigning a fill and stroke */
    .dot {
        fill: #ffab00;
        stroke: #fff;
    }

    .focus circle {
        fill: none;
        stroke: steelblue;
    }

</style>
<body>
<p>All measured temperatures to date :</p>
<ul>
{#    {% for temperature in temperatures %}#}
{#        <li>{{ temperature.published_time }}: {{ temperature.temperature }}</li>#}
{#    {% endfor %}#}
</ul>
<div id="chart">
</div>
<script src="{{url_for('static', filename='node_modules/d3/dist/d3.min.js')}}"></script>
<script src="{{url_for('static', filename='chartD3.js')}}"></script>
</body>
</html>